.THIS.page__wrapper {
    padding: 16px;
}

.THIS.page__wrapper .title__wrapper {
    margin-bottom: 16px;
}

.THIS.page__wrapper .title__wrapper .folder__name .title {
    font-size: 22px;
    line-height: 1;
}

.THIS.page__wrapper .content__wrapper {
    display: grid;
    grid-template-columns: auto 300px;
}

.THIS.page__wrapper .content__wrapper .sidebar__wrapper{
    padding-left: 16px;
}



.THIS .list-files__wrapper {
    display: flex;
    flex-wrap: wrap;
}

.THIS .list-files__wrapper .item {
    width: 125px;
    margin: 10px;
    padding: 20px;
    border: 1px solid #eeeeee;
    cursor: pointer;
}

.THIS .list-files__wrapper .item .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.THIS .list-files__wrapper .item .name {
    text-align: center;    
}